<div class="d-flex flex-row">
  <div class="col-12">
    <h4 class="opacity-50">
      <h4>Service Modules Wise Calculation</h4>
    </h4>
    <hr />
    <!-- <pre *ngIf="userServiceModule" [innerHtml]="userServiceModule| json"></pre> -->
  </div>
</div>
<div class="container-fluid bg-white py-3 dataDisplaySection">
  <div class="row g-3 mb-3">
    <div class="col-lg-6">
      <div class="mb-3">
        <label for="countryId" class="form-label">Country
          <sup [ngClass]="userServiceModule.regionId ? 'text-primary' : 'text-danger'"><i
              class="fas fa-star fa-xs"></i></sup>
        </label>
        <select id="countryId" class="form-select" name="countryId" [(ngModel)]="userServiceModule.regionId"
          (ngModelChange)="getRegionDetail(userServiceModule.regionId)">
          <option value="">Select Region</option>
          <option *ngFor="let subRegions of subRegionsList; let i=index" [ngValue]="subRegions._id">
            {{subRegions.countryName}}
          </option>
        </select>
      </div>
      <div class="mb-3">
        <label for="serviceId" class="form-label">Choose Service
          <sup [ngClass]="userServiceModule.serviceId ? 'text-primary' : 'text-danger'"><i
              class="fas fa-star fa-xs"></i></sup>
        </label>
        <select id="serviceId" class="form-select" name="serviceId" [(ngModel)]="userServiceModule.serviceId"
          (change)="filterPackagesByService(userServiceModule.serviceId)">
          <option value="">Select Service</option>
          <option *ngFor="let manageServices of manageServicesList; let i=index" [value]="manageServices._id">
            {{manageServices.serviceName}}
          </option>
        </select>
      </div>

      <div class="mb-3">
        <label for="userCount" class="form-label">Users
          <sup [ngClass]="userServiceModule.userCount ? 'text-primary' : 'text-danger'"><i
              class="fas fa-star fa-xs"></i></sup>
        </label>
        <select id="userCount" class="form-select" name="userCount" [(ngModel)]="userServiceModule.userCount"
          (ngModelChange)="userwiseCollection()">
          <option [ngValue]="0">Select</option>
          <option *ngFor="let user of usersCount; let index=index" [ngValue]="user">
            {{user}}
          </option>
        </select>
      </div>

      <div class="mb-3" *ngFor="let user of userServiceModule.userwise; let parentIndex=index">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <strong class="col-3 form-label pt-2">User Type: {{parentIndex+1}}
              </strong>
              <div class="col-9">
                <input type="text" name="user_{{parentIndex}}" id="user_{{parentIndex}}" class="form-control"
                  [(ngModel)]="user.userType" (ngModelChange)="calculation()" placeholder="Please enter user">
              </div>
            </div>
          </div>
        </div>
        <div>
          <table class="table table-bordered table-hover align-middle table-borderless">
            <thead class="bg-primary text-white">
              <tr class="text-nowrap bg-primary text-white">
                <th scope="col" class="text-white">#</th>
                <th scope="col" class="text-white" colspan="4">Service Module Name</th>
                <th scope="col" class="text-white">Unit</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let modules of user.serviceModulesList; let childIndex=index">
                <td>
                  <input type="checkbox" id="check_{{parentIndex}}_{{childIndex}}" class="form-check-input"
                    [(ngModel)]="modules.isSelected" (ngModelChange)="calculation()">
                </td>
                <td colspan="4"> {{modules.serviceModule}} </td>
                <td>
                  <input type="text" id="unit_{{parentIndex}}_{{childIndex}}" class="form-control" placeholder="1"
                    maxlength="2" numbersOnly [(ngModel)]="modules.unit" (ngModelChange)="calculation()">
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="align-items-start col-lg-6">
      <app-estimator-card [calculationData]="userServiceModule" (callParentCalculation)="calculation()"
        (calculationModal)="calculationModal()">
      </app-estimator-card>
    </div>
  </div>
</div>

<div bsModal #saveCalculationModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: 'static',  keyboard: false, animated: true}">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Save Calculation</h4>
        <button type="button" class="close" aria-label="Close" (click)="closeModel()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row row-xs align-items-center mg-b-20">
          <div class="mb-3">
            <label for="projectName" class="form-label"> Project Name
              <sup [ngClass]="userServiceModule.projectName ? 'text-primary' : 'text-danger'"><i
                  class="fas fa-star fa-xs"></i></sup>
            </label>
            <input type="text" class="form-control" id="projectName" placeholder="Type Here" name="projectName"
              characterOnly [(ngModel)]="userServiceModule.projectName">
          </div>
          <div class="mb-3">
            <label for="prospectName" class="form-label">Prospect Name
              <sup [ngClass]="userServiceModule.prospectName ? 'text-primary' : 'text-danger'"><i
                  class="fas fa-star fa-xs"></i></sup>
            </label>
            <input type="text" class="form-control" id="prospectName" placeholder="Type Here" name="prospectName"
              [(ngModel)]="userServiceModule.prospectName">
          </div>
          <div class="mb-3">
            <label for="tags" class="form-label"> Tags
              <sup [ngClass]="userServiceModule.tags ? 'text-primary' : 'text-danger'"><i
                  class="fas fa-star fa-xs"></i></sup>
            </label>
            <input type="text" class="form-control" id="tags" placeholder="Type Tags Here" name="tags" characterOnly
              [(ngModel)]="userServiceModule.tags">
          </div>
        </div>
        <div class="row">
          <label for="expiryDate" class="col-auto col-form-label">Expiry Date
            <sup [ngClass]="userServiceModule.expiryDate ? 'text-primary' : 'text-danger'"><i
                class="fas fa-star fa-xs"></i></sup>
          </label>
          <div class="col-auto">
            <div class="input-group">
              <input type="text" class="form-control" id="expiryDate" #dp="bsDatepicker" name="daterange"
                autocomplete="off" bsDatepicker [bsConfig]="{ isAnimated: true, dateInputFormat: 'DD/MM/YYYY', showWeekNumbers: false ,
                adaptivePosition: true }" placeholder="Select Date" onkeypress="return false"
                [(ngModel)]="userServiceModule.expiryDate" [minDate]="DateRange.minDate" [maxDate]="DateRange.maxDate">
              <span class="input-group-text" (click)="dp.toggle()">
                <i class="icon-calendar"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <app-alert></app-alert>
      <div class="modal-footer border-top-0 justify-content-start">
        <button type="submit" class="btn btn-primary" (click)="showCalculationInPdf()">Enter
        </button>
      </div>
    </div>
  </div>
</div>

<div bsModal #estimatorPdfModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" [config]="{backdrop: 'static',  keyboard: false, animated: true}">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-body" style="overflow: auto; max-height: 555px;">
        <app-estimator-pdf [calculationData]="userServiceModule"></app-estimator-pdf>
      </div>
      <app-alert></app-alert>
      <div class="modal-footer border-top-0 justify-content-center">
        <button type="submit" class="btn btn-primary" (click)="downloadAsPDF()">Save PDF
        </button>
        <button type="submit" class="btn btn-primary" (click)="closeModel()">cancel
        </button>
      </div>
    </div>
  </div>
</div>
